* {
  margin: 0;
  padding: 0; }

.p {
  text-align: center;
  font-size: 0.5cm;
  color: #3f3e3e;
  background-color: rgba(235, 212, 216, 0.555);
  border-radius: 5px;
  padding: 30px;
  margin: 30px;
  margin-top: 0; }

.footer {
  margin-top: auto;
  background-image: linear-gradient(180deg, #f2f2f2 15%, #ebd4d8 55%); }

.redes {
  text-align: center;
  margin-bottom: 0; }
  .redes li {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #3f3e3e; }
  .redes i {
    font-size: .8cm; }
    .redes i:hover {
      color: grey; }

.FraseFooter {
  font-family: cursive;
  font-size: 0.5cm;
  color: #3f3e3e;
  padding-right: 20px;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 5px;
  text-align: end; }

@media (max-width: 425px) {
  .redes {
    text-align: center;
    margin-bottom: 0;
    padding: 0; }
    .redes li {
      padding: 5px;
      margin: 10px; }
    .redes i {
      font-size: .6cm; }
  .FraseFooter {
    font-size: 0.5cm;
    padding: 0;
    margin-top: 0;
    padding-bottom: 5px;
    text-align: center; } }

.contacto {
  color: #3f3e3e;
  padding-left: 0; }
  .contacto li {
    text-align: center;
    margin: 1rem;
    font-family: cursive;
    display: block; }

.TitForm {
  font-family: cursive;
  text-decoration: overline #ebd4d8;
  padding: 15px;
  font-size: 0.5cm;
  color: #3f3e3e; }

.formulario {
  border-radius: 5px;
  background-color: #ebd4d8;
  padding: 20px;
  width: 50%; }

.enviar {
  background-color: grey;
  color: white; }
  .enviar:hover {
    background-color: #e6e6e6;
    color: grey; }

@media (max-width: 425px) {
  .TitForm {
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(200deg, #ffdce2 30%, #ffc2cc 55%); }
  .formulario {
    border-radius: 5px;
    background-color: #ebd4d8;
    padding: 20px;
    width: 80%; } }

.h3 {
  font-family: cursive;
  text-decoration: overline #ebd4d8;
  padding: 15px;
  font-size: 0.5cm;
  color: #3f3e3e; }

.dona {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 350px;
  justify-items: center; }

.donaimg {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px; }

.icepop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 350px;
  justify-items: center; }

.icepopimg {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px; }

.cakepop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 350px;
  justify-items: center; }

.cakepopimg {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px; }

.chocotorta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 350px;
  justify-items: center; }

.chocoimg {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px; }

.oreob {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 350px;
  justify-items: center; }

.oreoimg {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px; }

.lingote {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 350px;
  justify-items: center; }

.lingoteimg {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px; }

.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 350px;
  justify-items: center; }

.boximg {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px; }

@media (max-width: 768px) {
  .dona {
    grid-template-rows: 200px; }
  .icepop {
    grid-template-rows: 200px; }
  .cakepop {
    grid-template-rows: 200px; }
  .chocotorta {
    grid-template-rows: 200px; }
  .oreob {
    grid-template-rows: 200px; }
  .lingote {
    grid-template-rows: 200px; }
  .box {
    grid-template-rows: 200px; } }

@media (max-width: 425px) {
  .dona {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 200px;
    align-items: center; }
  .donaimg {
    width: 80%;
    height: 95%; }
  .icepop {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 200px; }
    .icepop :nth-child(3) {
      grid-column-start: span 2; }
  .icepopimg {
    height: 95%; }
  .cakepop {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 200px; }
    .cakepop :nth-child(3) {
      grid-column-start: span 2; }
  .cakepopimg {
    height: 95%; }
  .chocotorta {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 200px; }
    .chocotorta :nth-child(3) {
      grid-column-start: span 2; }
  .chocoimg {
    height: 95%; }
  .oreob {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 200px; }
    .oreob :nth-child(3) {
      grid-column-start: span 2; }
  .oreoimg {
    height: 95%; }
  .lingote {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 200px; }
    .lingote :nth-child(3) {
      grid-column-start: span 2; }
  .lingoteimg {
    height: 95%; }
  .box {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 200px;
    align-items: center; }
  .boximg {
    width: 80%;
    height: 95%; } }

.accordion {
  --bs-accordion-active-color: none;
  --bs-accordion-active-bg: rgba(235, 212, 216, 0.555); }

.pago {
  text-align: center;
  font-family: cursive;
  text-decoration: overline #ebd4d8;
  padding: 15px;
  font-size: 0.5cm;
  color: #3f3e3e; }

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.tipografia {
  font-family: cursive; }

nav .flexnav {
  display: flex;
  justify-content: end; }

.pinkhover a:hover {
  color: pink; }

.h1 {
  font-family: cursive;
  text-decoration: overline #ebd4d8;
  padding: 15px;
  font-size: 0.7cm;
  color: #3f3e3e; }

.infoUtil {
  text-align: center;
  color: #3f3e3e;
  background-color: pink;
  font-size: 0.5cm; }

.carousel-inner {
  max-width: 80%; }
  .carousel-inner img {
    border-radius: 20px;
    opacity: 0.9; }

.h2 {
  font-family: cursive;
  text-decoration: overline #ebd4d8;
  padding: 15px;
  font-size: 0.6cm;
  color: #3f3e3e; }

@media (max-width: 768px) {
  nav .flexnav {
    display: flex;
    justify-content: center; }
  .p {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 30px;
    margin-top: 0;
    text-align: center; }
  .carousel-inner {
    max-width: 90%; } }

@media (max-width: 425px) {
  nav .flexnav {
    display: flex;
    justify-content: center; }
  .h1 {
    text-align: center;
    text-decoration: none;
    border: solid 2px #ebd4d8;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 10px;
    padding-right: 0px;
    margin: 15px; }
  p {
    font-size: 0.4cm;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    margin-top: 0;
    text-align: center; }
  .carousel-inner {
    max-width: 100%; } }

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center; }
