* {
    margin: 0;
    padding: 0;
}

@import './variables/colores.scss';
@import './variables/extend';
@import './variables/mixins';

@import './secciones/footer';
@import './secciones/contactanos';
@import './secciones/productos';
@import './secciones/preguntas';

.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.tipografia {
    font-family: cursive;
}

nav {
    .flexnav {
        display: flex;
        justify-content: end;
    }
}

.pinkhover a:hover {
    color: pink;
}

.h1 {
    font-family: cursive;
    text-decoration: overline $subrayado;
    padding: 15px;
    font-size: 0.7cm;
    color: $texto;
}

.p {
    @extend %estiloParrafo;
}

.infoUtil {
    text-align: center;
    color: $texto;
    background-color: pink;
    font-size: 0.5cm;
}

.carousel-inner {
    max-width: 80%;

    img {
        border-radius: 20px;
        opacity: 0.9;
    }
}

.h2 {
    font-family: cursive;
    text-decoration: overline $subrayado;
    padding: 15px;
    font-size: 0.6cm;
    color: $texto;
}

@media (max-width:768px) {

    nav {
        .flexnav {
            display: flex;
            justify-content: center;
        }
    }

    .p {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 30px;
        margin-top: 0;
        text-align: center;
    }

    .carousel-inner {
        max-width: 90%;
    }
}

@media (max-width:425px) {

    nav {
        .flexnav {
            display: flex;
            justify-content: center;
        }
    }

    .h1 {
        text-align: center;
        text-decoration: none;
        border: solid 2px rgb(235, 212, 216);
        border-radius: 5px;
        padding-top: 10px;
        padding-left: 0px;
        padding-bottom: 10px;
        padding-right: 0px;
        margin: 15px;
    }

    p {
        font-size: 0.4cm;
        border-radius: 5px;
        padding: 20px;
        margin: 10px;
        margin-top: 0;
        text-align: center;
    }

    .carousel-inner {
        max-width: 100%;
    }
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
}